
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <h1>Freeshelf</h1> 
    <div class="container">
        <div class="flex-grow">
            <div class="primary">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>